* {
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url('../public/map-wold-map-technology-world-wallpaper-preview.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}